 
{% extends 'navbar.html' %}

{% block content %}
<fieldset>
  <h3 class="create_Heading">
    CREATE ACCOUNT
  </h3>
  <form action="{{ url_for('displayCreateUserAccPage') }}" method='POST'>

    <div class="formInput-holders">
      <div class="formInput-holder">
        <input type="text" id = 'FULL NAME'name="FULL NAME" placeholder="FULL NAME">
      </div>

      <div class="formInput-holder">
        <input type="text" id = 'ADDRESS' name="'ADDRESS'" placeholder="ADDRESSS">
      </div>

      <div class="formInput-holder">
        <input type="text" id='NRIC_FIN' name="NRIC_FIN" placeholder="NRIC / FIN">
      </div>

      <div class="formInput-holder">
        <input placeholder="BIRTHDAY" id='BIRTHDAY' name ='BIRTHDAY' type="text" onfocus="(this.type='date')">
      </div>

      <div class="formInput-holder">
        <input type="text" id='EMPLOYEEID' name="EMPLOYEEID" placeholder="EMPLOYEE ID">
      </div>

      <div class="formInput-holder">
        <input type="password" id='PASSWORD' name="PASSWORD" placeholder="PASSWORD">
      </div>

      <div class="formInput-holder">
        <select class = "myList" id='ROLES'  name="ROLES">
          <option hidden=" "> ROLES </option>
          {% for i in user_profile %}

          <option>{{i[0]}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="button-holder">
        <input type="submit" value="CREATE" />
      </div>
    </div>
  </form>

</fieldset>
{% include 'message.html' %}
{% endblock %}

</section>

