<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{url_for('static',filename='style/index.css')}}">
	<title>R2G Restaurant Manager Admin Page</title>
</head>
<body>
	<div class="rm_adminPageTitle">
    <img class="logo" src="{{ url_for('static', filename ='assets/logo.png') }}">
  
    <p><b>R2G Restaurant Ordering System</b></p>
  
    <a href="{{ url_for('logout_page') }}" class="logout_button">Logout</a>
  </div>
	<div class="rm_functionalitiesButton">
    <a href="{{url_for('displayCreateUserAccPage') }}">
    <button class="button">
        CREATE ACCOUNT
    </button>
    </a>
    </div>

    <div class="rm_functionalitiesButton">
    <a href="{{ url_for('displayViewUserAccPage') }}">
    <button class="button">
        VIEW ACCOUNT
    </button>
    </a>
    </div>

    <div class="rm_functionalitiesButton">
    <a href="{{ url_for('displayCreateUserProfPage') }}">
    <button class="button">
        CREATE PROFILE
    </button>
    </a>
    </div>

    <div class="rm_functionalitiesButton">
    <a href="{{ url_for('displayViewUserProfPage') }}">
    <button class="button">
        VIEW PROFILE
    </button>
    </a>
  </div>
</body>
</html>