{% extends 'navbar.html' %}
{% block content %}

  <fieldset>
	<h3 class="create_Heading">
		EDIT PROFILE
	</h3>
	
	<form action="{{ url_for('displayEditUserProfile', roles = roles ) }}" class="profileForm"  method ='POST'">
	  <input type="text" class="roles" name="ROLES" placeholder="ROLES" value={{userData[0][0]}}>

	  <div class="privileges">
		<h3>Privileges</h3>  
	  </div>

	  <div class="checkbox-holders">  
		<div class="checkbox-holder">
		  {% if userData[0][1] == 1 %}
		  <input type="checkbox" id="p1" name="p1" value="Manage User Account" checked>
		  {% else %}
		  <input type="checkbox" id="p1" name="p1" value="Manage User Account">
		  {% endif %}
		  <label for="v1"> Manage User Account</label>
		</div>    
		
		<div class="checkbox-holder"> 
		  {% if userData[0][2] == 1 %}
		  <input type="checkbox" id="p2" name="p2" value="Manage User Profile" checked>
		  {% else %}
		  <input type="checkbox" id="p2" name="p2" value="Manage User Profile">
		  {% endif %}
		  <label for="v2" id= "checkBoxPoition"> Manage User Profile</label>
		</div>

		<div class="checkbox-holder">
		  {% if userData[0][3] == 1 %}
		  <input type="checkbox" id="p3" name="p3" value="Manage Menu Items" checked>
		  {% else %}
		  <input type="checkbox" id="p3" name="p3" value="Manage Menu Items">
		  {% endif %}
		  <label for="v3"> Manage Menu Items</label>
		</div>

		<div class="checkbox-holder">
		  {% if userData[0][4] == 1 %}
		  <input type="checkbox" id="p4" name="p4" value="Manage Menu Category" checked>
		  {% else %}
		  <input type="checkbox" id="p4" name="p4" value="Manage Menu Category">
		  {% endif %}
		  <label for="v4"> Manage Menu Category</label>
		</div>

		<div class="checkbox-holder">
		  {% if userData[0][5] == 1 %}
		  <input type="checkbox" id="p5" name="p5" value="Manage Coupon Codes" checked>
		  {% else %}
		  <input type="checkbox" id="p5" name="p5" value="Manage Coupon Codes">
		  {% endif %}
		  <label for="v5"> Manage Coupon Codes</label>
		</div>

		<div class="checkbox-holder">
		  {% if userData[0][6] == 1 %}
		  <input type="checkbox" id="p6" name="p6" value="Manage Orders" checked>
		  {% else %}
		  <input type="checkbox" id="p6" name="p6" value="Manage Orders">
		  {% endif %}
		  <label for="v6"> Manage Orders</label>
		</div>

		<div class="checkbox-holder">
		  {% if userData[0][7] == 1 %}
		  <input type="checkbox" id="p7" name="p7" value="Manage Report" checked>
		  {% else %}
		  <input type="checkbox" id="p7" name="p7" value="Manage Report">
		  {% endif %}
		  <label for="v7"> Manage Report</label>
		</div>
	  </div>

	  <!-- <div class="radio-holder"> -->
		  <!-- {% if search[0] == 1 %} -->
		  <!-- <input type="radio" id="ACTIVATE" name="r1" value="ACTIVATE" checked> -->
		  <!-- <label for="ACTIVATE">ACTIVATE</label> -->
		  <!-- <input type="radio" id="SUSPEND" name="r1" value="SUSPEND"> -->
		  <!-- <label for="SUSPEND">SUSPEND</label> -->
		  <!-- {% else %} -->
		  <!-- <input type="radio" id="ACTIVATE" name="r1" value="1"> -->
		  <!-- <label for="ACTIVATE">ACTIVATE</label> -->
		  <!-- <input type="radio" id="SUSPEND" name="r1" value="0" checked> -->
		  <!-- <label for="SUSPEND">SUSPEND</label> -->
		  <!-- {% endif %} -->
	  <!-- </div> -->

	  <div class="button-holder">
		<input 
		  class= "formButton" 
		  type="submit" 
		  value="   SAVE   " 
		/>

		<input 
		  type="button" 
		  name="cancel" 
		  value="CANCEL"
		  onclick="window.location='sprint1_userAdmin_mainPage.html'" 
		/>
	  </div>
	</form>
  </fieldset>
</section>
</body>

<!-- <script type="text/javascript"> -->
  <!-- function fieldValidation() -->
  <!-- { -->
	<!-- var empt = document.forms["createMIForm"]["ITEM NAME"]["ITEM DESCRIPTION"]["CATEGORY"]["PRICE"].value; -->
	<!-- if (empt == "") -->
	<!-- { -->
	  <!-- alert("Please input a Value"); -->
	  <!-- return false; -->
	<!-- } -->
	<!-- else  -->
	  <!-- return true;  -->
  <!-- } -->

  <!-- function required() -->
  <!-- { -->
  <!-- var empty = document.forms["createMIForm"]["ITEM NAME"].value; -->
  <!-- var empty2 = document.forms["createMIForm"]["ITEM DESCRIPTION"].value; -->
  <!-- var empty3 = document.forms["createMIForm"]["CATEGORY"].value; -->
  <!-- var empty4 = document.forms["createMIForm"]["PRICE"].value; -->

  <!-- if (empty == "" || empty2 == "" || empty3 == "" || empty4 == "") -->
  <!-- { -->
	<!-- alert("Please complete all the menu item information."); -->
	<!-- return false; -->
  <!-- } -->
  <!-- else  -->
	<!-- return true;  -->
  <!-- } -->
  <!-- </script> -->
<!-- </html> -->
{% endblock %}