 
{% extends 'navbar.html' %}

{% block content %}

<fieldset>
  <h3 class="create_Heading">
    EDIT ACCOUNT
  </h3>

  <form action="{{ url_for('displayEditUserAccount', EmployeeID=EmployeeID) }}" name="createMIForm" class="createTextBox" method ='POST'>

    <div class="formInput-holders">
      <div class="formInput-holder">
        <input type="text" name="FULLNAME" placeholder="FULL NAME" value= {{userData[0][0]}}>
      </div>

      <div class="formInput-holder">
        <input type="text" name="ADDRESS" placeholder="ADDRESSS" value= {{userData[0][1]}}>
      </div>

      <div class="formInput-holder">
        <input type="text" name="NRIC" placeholder="NRIC / FIN" value= {{userData[0][2]}}>
      </div>

      <div class="formInput-holder">
        <input placeholder="BIRTHDAY" type="text" onfocus="(this.type='date')" value= {{userData[0][3]}}>
      </div>

      <div class="formInput-holder">
        <input type="text" name="EMPLOYEEID" placeholder="EMPLOYEE ID" value= {{userData[0][4]}}>
      </div>

      <div class="formInput-holder">
        <input type="password" name="PASSWORD" placeholder="PASSWORD" value= {{userData[0][5]}}>
      </div>

      <div class="formInput-holder">
        <select class = "myList"  name="ROLES">


          <option value={{userData[0][6]}} selected>{{userData[0][6]}}</option>
          {% for i in userRole %}
          <option value={{i[0]}}>{{i[0]}}</option>
          {% endfor %}

        </select>
      </div>
    </div>

    <div class="radio-holder">
      {% if search[0] == 1 %}
      <input type="radio" id="ACTIVATE" name="r1" value="ACTIVATE" checked>
      <label for="ACTIVATE">ACTIVATE</label>
      <input type="radio" id="SUSPEND" name="r1" value="SUSPEND">
      <label for="SUSPEND">SUSPEND</label>
      {% else %}
      <input type="radio" id="ACTIVATE" name="r1" value="1">
      <label for="ACTIVATE">ACTIVATE</label>
      <input type="radio" id="SUSPEND" name="r1" value="0" checked>
      <label for="SUSPEND">SUSPEND</label>
      {% endif %}
    </div>

    <div class="button-holder">
      <input type="submit" value="SAVE"/>
      <input type="button" name="cancel" value="CANCEL"
      onclick="window.location='sprint1_userAdmin_mainPage.html'" />
    </div>
  </form>
</fieldset>
{% include 'message.html' %}
{% endblock %}
</section>
