{% extends 'base.html' %}


{% block content %}

 <link rel="stylesheet" href="{{ url_for('static', filename ='style/logincss.css')}}">



 <form action="{{ url_for('displayLoginPage') }}" method="POST">
      <div class="container">
        <input type="text" placeholder="Employee ID" id ='username' name="username" class="loginIDPW" >
        <br>
        <br>
        <input type="password" placeholder="Password" id='username' name="password" class="loginIDPW" >
        <br>
        <br>
        <input class= "loginbutton" type="submit" value="LOGIN" />
      </div>
</form>


{% include 'message.html' %}



{% endblock %}
