{% extends 'base.html' %}

{% block content %}

<style>
	
html,
body {
  height: 100%
}

</style>

<div class='container md-6'>
	<div class="h-100 d-flex row align-items-center">
  <div class="col" >
    <a href = '/' class='row'>Create Account</a>
    <a href = '/' class='row'>View Account</a>
    <a href = '/' class='row'>Create Profile</a>
    <a href = '/' class='row'>View Proflie</a>

  </div>
</div>

<form method="POST" action="/">
   
    <button type="submit" value="Create" class="btn btn-primary">Create</button>
    <button type="submit" value="Create" class="btn btn-primary">Cancel</button>
</form>

</div>

<div class='container md-6'>
	
	<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
   Manage User Account
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
    Manage User Profile
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
   Manage Menu Items
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
    Manage Menu Category
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
   Manage Coupon Codes
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
   Manage Orders
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
    Manage Reports
  </label>
</div>


<div class='container d-flex justify-content-center'>
<div class="form-check">
  <input class="form-check-input" type="radio" value="" id="flexCheckChecked">
  <label class="form-check-label" for="flexCheckChecked">
    Activate
  </label>

  <div class="form-check">
  <input class="form-check-input" type="radio" value="" id="flexCheckChecked" >
  <label class="form-check-label" for="flexCheckChecked">
    Suspend
  </label>
</div>
</div>


</div>



<button type="submit" value="Create" class="btn btn-primary">Create</button>
<button type="submit" value="Create" class="btn btn-primary">Cancel</button>



</div>

{% endblock %}