<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{url_for('static', filename='style/index.css')}}">
	<title>R2G Restaurant Manager Admin Page</title>
</head>
<body>
	<div class="rm_adminPageTitle">
        <img class="logo" src="{{url_for('static', filename='assets/logo.png')}}">
      
        <p><b>R2G Restaurant Ordering System</b></p>
      
        <a href="{{ url_for('logout_page') }}" class="logout_button">Logout</a>
  </div>
  <div class="rm_functionalitiesButton2">
    <a href="{{url_for('displayCreateMenuItemPage')}}">
      <button class="button">
          CREATE MENU ITEM
      </button>
    </a>
  </div>

  <div class="rm_functionalitiesButton2">
    <a href="{{url_for('displayViewMenuItemPage')}}">
      <button class="button">
          VIEW MENU ITEM
      </button>
    </a>
  </div>

  <div class="rm_functionalitiesButton2">
    <a href="{{url_for('displayCreateCategoryPage')}}">
      <button class="button">
          CREATE CATEGORY
      </button>
    </a>
  </div>

  <div class="rm_functionalitiesButton2">
    <a href="{{url_for('displayViewCategoryPage')}}">
      <button class="button">
          VIEW CATEGORY
      </button>
    </a>
  </div>

  <div class="rm_functionalitiesButton2">
    <a href="{{url_for('displayCreateCouponPage')}}">
      <button class="button">
          CREATE COUPON
      </button>
    </a>
  </div>

  <div class="rm_functionalitiesButton2">
    <a href="{{url_for('displayViewCouponPage')}}">
      <button class="button">
          VIEW COUPON
      </button>
    </a>
  </div>
</body>
</html>


