   
  {% extends 'navbar.html' %}

{% block content %}

  <form action = '{{url_for("displayViewUserProfPage")}}' method='GET'>

 <div class ="searchBar center-it">

   <input type="search" id="mySearch" name = "mySearch" class="form-control" placeholder="Search.." />
 </div>
</form>

{% if noresult %}

<tr>
  <th scope="row">No Result</th>
  <td></td>

</tr>


{% else %}

{% if search %}


{% for i in search %}


<div class="searchResultsLists">
  <div class="searchResults">
    <span>{{i[0]}}</span>
    <button type="submit" name="edit" value="EDIT" class="editButton" > <a class='editButton' href ="{{ url_for('displayEditUserProfile',roles=i[0]) }}"type ='button'>Edit</a></button>
  </div>
</div>

{% endfor %}

{% else %}

<div class="displayAllUser">
  <table>
    {% for profile in result %}
    <tr>
      <td>
        <span>{{profile[0]}}</span>
      </td>
      <td>
        <button type="submit" name="edit" value="EDIT" class="editButton" > <a class='editButton' href ="{{ url_for('displayEditUserProfile',roles=profile[0]) }}"type ='button'>Edit</a></button>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{%  endif  %}

{% endif %}



</tbody>
</table>

{% endblock %}