<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='style/index.css')}}">
    <title>R2G Restaurant Manager Admin Page</title>
  </head>
  <body>  
  <div class="rm_adminPageTitle">
      <img class="logo" src="{{url_for('static', filename='assets/logo.png')}}">
    
      <p><b>R2G Restaurant Ordering System</b></p>
    
      <a href="{{ url_for('logout_page') }}" class="logout_button">Logout</a>
  </div>
  <section>
  <nav>
  <div class="rm_functionalitiesButton2">
    <a href="{{url_for('displayCreateMenuItemPage')}}">
      <button class="button">
          CREATE MENU ITEM
      </button>
    </a>
  </div>

  <div class="rm_functionalitiesButton2">
    <a href="{{url_for('displayViewMenuItemPage')}}">
      <button class="button">
          VIEW MENU ITEM
      </button>
    </a>
  </div>

  <div class="rm_functionalitiesButton2">
    <a href="{{url_for('displayCreateCategoryPage')}}">
      <button class="button">
          CREATE CATEGORY
      </button>
    </a>
  </div>

  <div class="rm_functionalitiesButton2">
    <a href="{{url_for('displayViewCategoryPage')}}">
      <button class="button">
          VIEW CATEGORY
      </button>
    </a>
  </div>

  <div class="rm_functionalitiesButton2">
    <a href="{{url_for('displayCreateCouponPage')}}">
      <button class="button">
          CREATE COUPON
      </button>
    </a>
  </div>

  <div class="rm_functionalitiesButton2">
    <a href="{{url_for('displayViewCouponPage')}}">
      <button class="button">
          VIEW COUPON
      </button>
    </a>
  </div>
  </nav>
  
  {% block content %}




<form action = '{{url_for("displayViewCouponPage")}}' method='GET'>

 <div class ="searchBar center-it">

   <input type="search" id="mySearch" name = "mySearch" class="form-control" placeholder="Search.." />
 </div>
</form>

{% if noresult %}

<tr>
  <th scope="row">No Result</th>
  <td></td>

</tr>


{% else %}

{% if search %}


{% for i in search %}


<div class="searchResultsLists">
  <div class="searchResults">
    <span>{{i[0]}}</span>
    <button type="submit" name="edit" value="EDIT" class="editButton" > <a class='editButton' href ="{{ url_for('displayEditCouponPage',couponCode=i[0]) }}"type ='button'>Edit</a></button>
  </div>
</div>

{% endfor %}

{% else %}

<div class="displayAllUser">
  <table>
    {% for coupon in result %}
    <tr>
      <td>
        <span>{{coupon[0]}}</span>
      </td>
      <td>
        <button type="submit" name="edit" value="EDIT" class="editButton" > <a class='editButton' href ="{{ url_for('displayEditCouponPage',couponCode=coupon[0]) }}"type ='button'>Edit</a></button>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{%  endif  %}

{% endif %}



</tbody>
</table>

{% endblock %}

  
  </section>
</script>
</body>
</html>