/*formating the page*/
* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

/*formating the input size*/
  input{
    padding: 7px;
  }


/*save button*/
  .formButton{
    padding: 7px 18px; 
  }

/*formating the dropdownlists*/
  select{
    color: grey;
    width: 11.3rem;
    padding: 8px;
    left: 20px;
  }

/*formating the button size*/
  button{
    height:50px;
    width:280px;
  }

  nav {
    float: left;
    width: 30%;
    height: auto; 
    background: #fbeee0;
    padding: 20px;
    border-right: 2px solid #000;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
  }

  section::after {
    content: "";
    display: table;
    clear: both;
  }

  
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

span{
  width: 150px;
  height: 30px;
  padding: 7px;
  border-style: solid;
  border-width: 2px;
  border-color: #faca69;
  text-align: center;
  background-color: #f0f5b8;
}

.rm_adminPageTitle{
	text-align: center;
	font-size: 50px;
  background-color: #fbeee0;
  color: #422800;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom:2px solid #000;
}

fieldset {
  border: 0;
}

.logout_button{
	text-align: top;
	position: relative;
  background-color: #fbeee0;
	border: none;
	color: #422800;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.rm_functionalitiesButton{
	text-align: center;
  margin-top: 20px;
  margin-bottom: 56px;
}


.rm_functionalitiesButton2{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rm_functionalitiesButton3{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.create_Heading{
	text-align: center;
}

.button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #fff;
}

.button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
}

.logo{
	width: 120px;
	height:120px;
	position: relative;
  	/* right: 200px; */
}

.createTextBox{
	text-align: center;
	height:100%; 
  width:100%; 
  margin:0;
}

.searchBar{
	text-align: center;

}

#mySearch{
	font-size: 15px;
}

.editButton{
	background-color: #7CFC00;
  height: 30px;
  width: 50px;
}

#inputCoupon{
	width: 190px;
}

.formInput-holders{
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  align-items: center;
}

.formInput-holder{
  display: flex;
  margin-bottom: 15px;
}

.profileForm{
  text-align: center;
}

.checkbox-holders {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.checkbox-holder {
  display: flex;
  margin-bottom: 15px;
}

.button-holder {
  display: flex;
  margin-top: 20px;
  gap: 55px;
  align-items: center;
  justify-content: center;
}

/*radio button formating for status (activate/)*/
.radio-holder{
  margin-bottom: 15px;
  gap: 55px;
}

/*searh resutls formating*/
.searchResults{
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.searchResultsLists{
  margin-top: 15px;
}

/*privileges formating*/
.privileges-holder{
  margin-bottom: 8px;
}

.privileges{
  margin-top: 40px;
  margin-left: -100px;
}

/*restaurant manager - form formating*/
.rm_form{
  height: 480px;
}

/*form text box formating*/
.formInput-holders2{
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  align-items: center;
}

.formInput-holder2{
  display: flex;
  margin-top: 10px;
  margin-bottom: 25px;
}

/*category form aligment*/
.formInput-holder3{
  display: flex;
  margin-top: 100px;
  margin-bottom: 30px;
}

/*coupon form aligment*/
.formInput-holder4{
  display: flex;
  margin-top: 100px;
  margin-bottom: 10px;
}

.formInput-holder5{
  display: flex;
  margin-bottom: 50px;
}

/*Menu category formating*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

.rm_body {
  display: flex;
  gap:15px;
}

.rm_body-nav {
  width: 30%;
  border-right: 2px solid #000;
  background-color: #fbeee0;
  padding: 10px;
}

.rm_body-main {
  width: 70%;
  text-align: center;
}



.rm_body-cat-button{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

}