/* Login Page*/
header {
    background-color: #fbeee0;
    padding: 25px;
    text-align: center;
    font-size: 40px;
    color: #422800;
  }

.login{
	border: 3px solid #f1f1f1;
}

.loginIDPW{
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid black;
  box-sizing: border-box;
  font-size: 20px;
}

.loginbutton{
	  background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    font-size: 20px
}

 .container {
    padding: 16px;
    text-align: center;
  }
/* End*/